LITELLM_MASTER_KEY=sk-poc-master-key-12345
OPENAI_API_KEY=sk-your-openai-api-key

# ステップ2で取得したキーを入力
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...


# ZITADELの設定
ZITADEL_TOKEN_URL=http://localhost:8080/oauth/v2/token
ZITADEL_CLIENT_ID=YOUR_CLIENT_ID_FROM_API_APP
ZITADEL_CLIENT_SECRET=YOUR_CLIENT_SECRET
ZITADEL_SCOPES=openid profile mcp
MCP_GATEWAY_URL=http://localhost:4000/my_hello_mcp/mcp