# LiteLLM Settings
LITELLM_MASTER_KEY=sk-poc-master-key-12345
OPENAI_API_KEY=sk-your-openai-api-key

# Langfuse Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=langfuse
DATABASE_URL=postgresql://postgres:postgres@db:5432/langfuse
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=my_super_secret_key_for_langfuse_poc
SALT=my_super_secret_salt

