LLM_PROVIDER=openai
LLM_API_KEY=sk-poc-master-key-12345
LLM_BASE_URL=http://litellm:4000
LLM_MODEL=gpt-4o

# build.sh で使用するイメージ名
IMAGE_NAME="all-in-one-code-executor-image"
# build.sh で使用するイメージに格納するファイルのパス
AI_PLATFORM_LIB=../../../../ai-platform-samplelib
# build.sh で使用するイメージに格納するファイルのパス
MCP_LIB=../../../../mcp


# run.sh で使用する環境変数
COMPOSE_SERVICE_NAME=all-in-one-code-executor

# opencode webui
OPENCODE_SERVER_PASSWORD=opencode


LIBREOFFICE_PATH=/usr/bin/soffice


