LLM_PROVIDER=openai
LLM_API_KEY=sk-poc-master-key-12345
LLM_BASE_URL=http://litellm:4000
LLM_MODEL=claude-sonnet-4

IMAGE_NAME="all-in-one-code-executor-image"
COMPOSE_SERVICE_NAME=all-in-one-code-executor

# opencode webui
OPENCODE_SERVER_PASSWORD=opencode
# opencode
# COMPOSE_COMMAND="opencode"

# claude-code
# COMPOSE_COMMAND="claude"

# cline
# COMPOSE_COMMAND="cline"

# COMPOSE_PROJECT_DIRECTORY=/home/user/source/repos/ai-platform-poc/06-cline-executor
# COMPOSE_FILE=docker-compose.yml

AI_PLATFORM_LIB=../../../../ai-platform-samplelib
MCP_LIB=../../../../mcp

LIBREOFFICE_PATH=/usr/bin/soffice


