CLINE_API_PROVIDER=openai
CLINE_API_KEY=sk-poc-master-key-12345
CLINE_API_BASE_URL=http://litellm:4000/v1
CLINE_MODEL_ID=gpt-4o

# COMPOSE_PROJECT_DIRECTORY=/home/user/source/repos/ai-platform-poc/06-cline-executor
# COMPOSE_FILE=docker-compose.yml
COMPOSE_SERVICE_NAME=cline
